<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Desparasitación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportarPDF()">
        <ion-icon name="download-outline" slot="start"></ion-icon>
      </ion-button>
      <ion-button (click)="abrirModalDesparasitacion()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-card>
  <ion-list *ngIf="desparasitaciones$ | async as desparasitaciones; else cargando">
    <ion-item
      *ngFor="let desparasitacion of desparasitaciones"
      lines="inset"
      button
      (click)="abrirModalDesparasitacion(desparasitacion)"
      class="vacuna-item"
    >
      <ion-label>
        <h2 class="titulo">{{ desparasitacion.nombre }}</h2>
        <p>📅 {{ formatearFechaHora(desparasitacion.fechayhora) }}</p>
        <p>
          Estado:
          <strong [ngClass]="{
            'estado-aplicada': desparasitacion.estado === 'aplicada',
            'estado-pendiente': desparasitacion.estado !== 'aplicada'
          }">
            {{ desparasitacion.estado | titlecase }}
          </strong>
        </p>
      </ion-label>

      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        (click)="eliminarDesparasitacion(desparasitacion.did); $event.stopPropagation()"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="desparasitaciones.length === 0">
      <ion-label class="ion-text-center">No hay registros de desparasitación.</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #cargando>
    <div class="cargando-spinner">
      <ion-spinner name="crescent"></ion-spinner>
      <p class="ion-text-center">Cargando desparasitaciones...</p>
    </div>
  </ng-template>
  </ion-card>
</ion-content>
