
.vacuna-item {
  --padding-start: 16px;
  --inner-padding-end: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  background: #f9f9f9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.titulo {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.estado-aplicada {
  color: green;
}

.estado-pendiente {
  color: red;
}

.cargando-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #666;
}
