<ion-header>
  <ion-toolbar>
    <ion-title>PawCare Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="card-spacing welcome-card">
    <ion-card-header>
      <ion-card-title>¡Hola, {{ usuarioLogin }}! 👋</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bienvenido/a al <strong>panel de administración</strong> de PawCare.
    </ion-card-content>
  </ion-card>

  <!-- Card Usuarios -->
  <ion-card button class="app-card" routerLink="/gestionar-usuario">
    <div class="card-image-wrapper">
      <img alt="Usuarios" src="../../../../assets/img/usuarios.jpg" />
      <div class="card-overlay">
        <ion-card-title>Usuarios</ion-card-title>
      </div>
    </div>
  </ion-card>

  <!-- Card Mascotas -->
  <ion-card button class="app-card" routerLink="/gestionar-mascota">
    <div class="card-image-wrapper">
      <img alt="Mascotas" src="../../../../assets/img/bannerblanco.jpg" />
      <div class="card-overlay">
        <ion-card-title>Mascotas</ion-card-title>
      </div>
    </div>
  </ion-card>

</ion-content>
