<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gestionar Mascotas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let mascota of mascotas">
    <ion-label>
      <h2>{{ mascota.nombre }}</h2>
      <p>Tipo: {{ mascota.tipo }}</p>
      <p>Dueño: {{ mascota.nombreDueno }}</p>
    </ion-label>

      <ion-button color="warning" fill="clear" (click)="abrirModal(mascota)">
      <ion-icon name="create-outline"></ion-icon> 
      </ion-button>

    <ion-button color="danger" fill="clear" (click)="eliminarMascota(mascota.mid)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

