.center-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* separa logo y spinner */
}

.logo-container img {
  max-width: 150px;
  height: auto;
  border-radius: 15px;
}
