<ion-header>
  <ion-toolbar>
    <ion-title>{{ modoEdicion ? 'Editar Mascota' : 'Registrar Mascota' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <form [formGroup]="mascotaForm" (ngSubmit)="guardarMascota()">

        <ion-item lines="inset">
          <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('nombre')?.touched">
          <ng-container *ngIf="mascotaForm.get('nombre')?.hasError('required')">
            <small>El nombre es obligatorio.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('nombre')?.hasError('minlength')">
            <small>Debe tener al menos 2 caracteres.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('nombre')?.hasError('pattern')">
            <small>Solo se permiten letras y espacios.</small>
          </ng-container>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Especie <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="tipo"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('tipo')?.touched">
          <ng-container *ngIf="mascotaForm.get('tipo')?.hasError('required')">
            <small>La especie es obligatoria.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('tipo')?.hasError('minlength')">
            <small>Debe tener al menos 2 caracteres.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('tipo')?.hasError('pattern')">
            <small>Solo se permiten letras y espacios.</small>
          </ng-container>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Raza <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="raza"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('raza')?.touched">
          <ng-container *ngIf="mascotaForm.get('raza')?.hasError('required')">
            <small>La raza es obligatoria.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('raza')?.hasError('minlength')">
            <small>Debe tener al menos 2 caracteres.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('raza')?.hasError('pattern')">
            <small>Solo se permiten letras y espacios.</small>
          </ng-container>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Sexo <ion-text color="danger">*</ion-text></ion-label>
          <ion-select formControlName="sexo" placeholder="Seleccionar...">
            <ion-select-option value="Macho">Macho</ion-select-option>
            <ion-select-option value="Hembra">Hembra</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('sexo')?.touched && mascotaForm.get('sexo')?.hasError('required')">
          <small>Este campo es obligatorio.</small>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Fecha de Nacimiento <ion-text color="danger">*</ion-text></ion-label>
          <ion-datetime
            formControlName="fechaNacimiento"
            presentation="date"
            max="2025-12-31"
            display-format="DD/MM/YYYY">
          </ion-datetime>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('fechaNacimiento')?.invalid && mascotaForm.get('fechaNacimiento')?.touched">
          <small>Este camopo es obligatorio.</small>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Color <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="color"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('color')?.touched">
          <ng-container *ngIf="mascotaForm.get('color')?.hasError('required')">
            <small>El color es obligatorio.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('color')?.hasError('minlength')">
            <small>Debe tener al menos 3 caracteres.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('color')?.hasError('pattern')">
            <small>Solo se permiten letras y espacios.</small>
          </ng-container>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Número de chip / identificación <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="chip"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('chip')?.touched">
          <ng-container *ngIf="mascotaForm.get('chip')?.hasError('required')">
            <small>Este campo es obligatorio.</small>
          </ng-container>
          <ng-container *ngIf="mascotaForm.get('chip')?.hasError('pattern')">
            <small>Solo se permiten números.</small>
          </ng-container>
        </ion-text>
      
        <ion-item lines="inset">
          <ion-label position="floating">Peso (kg) o (g)</ion-label>
          <ion-input formControlName="peso" type="number"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('peso')?.invalid && mascotaForm.get('peso')?.touched">
          <small>Este camopo es obligatorio y solo permite numeros</small>
        </ion-text>
      

        <ion-item lines="inset">
          <ion-label>Categoría <ion-text color="danger">*</ion-text></ion-label>
          <ion-select formControlName="categoria" (ionChange)="onCategoriaChange()" placeholder="Seleccionar...">
            <ion-select-option value="domestico">Doméstico</ion-select-option>
            <ion-select-option value="exotico">Exótico</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="mascotaForm.get('chip')?.invalid && mascotaForm.get('chip')?.touched">
          <small>Este camopo es obligatorio</small>
        </ion-text>
      

        <ion-item lines="inset" *ngIf="mascotaForm.get('categoria')?.value === 'exotico'">
          <ion-label>¿Esta especie tiene vacunas?</ion-label>
          <ion-checkbox formControlName="tieneVacunas" slot="start"></ion-checkbox>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>Foto de la mascota</ion-label>
          <input type="file" accept="image/*" (change)="seleccionarImagen($event)" />
        </ion-item>

        <ion-button expand="block" shape="round" size="large" class="ion-margin-top" color="dark" type="submit">
        {{ modoEdicion ? 'Guardar Cambios' : 'Registrar Mascota' }}
      </ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
