<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ desparasitacion ? 'Editar Desparasitación' : 'Nueva Desparasitación' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="desparasitacionForm" (ngSubmit)="guardar()">

        <ion-item lines="inset">
          <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="desparasitacionForm.get('nombre')?.touched && desparasitacionForm.get('nombre')?.invalid">
          <p class="ion-padding-start" *ngIf="desparasitacionForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</p>
          <p class="ion-padding-start" *ngIf="desparasitacionForm.get('nombre')?.errors?.['minlength']">Debe tener al menos 3 letras.</p>
          <p class="ion-padding-start" *ngIf="desparasitacionForm.get('nombre')?.errors?.['pattern']">Solo se permiten letras.</p>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Fecha y Hora de Aplicación <ion-text color="danger">*</ion-text></ion-label>
          <ion-datetime formControlName="fechaHora" presentation="date-time" placeholder="Seleccionar fecha y hora"></ion-datetime>
        </ion-item>
        <ion-text color="danger" *ngIf="desparasitacionForm.get('fechaHora')?.touched && desparasitacionForm.get('fechaHora')?.invalid">
          <p class="ion-padding-start">Selecciona una fecha y hora válida.</p>
        </ion-text>

        <ion-button expand="block" shape="round" size="large" class="ion-margin-top" type="submit" color="dark" [disabled]="desparasitacionForm.invalid" style="font-size: 15px;">
          {{ desparasitacion ? 'Actualizar' : 'Guardar' }}
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
