.mascota-card {
  flex: 0 0 auto;
  width: 100px;
  height: 130px;
  background: #030303;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.959);
  text-align: center;
}

.mascota-card img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.mascota-card .nombre {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 6px 4px;
}

.mascota-add-button .add-icon {
  font-size: 3rem;
  color:rgb(219, 216, 216);
}

.mascotas-scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  padding-top: 0px;
  margin-top: -50px;
  overflow-x: hidden; 
}

.mascotas-scroll {
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.mascotas-scroll::-webkit-scrollbar {
  display: none; 
}

.mascota-card, .mascota-add-button {
  width: 100px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: #504d4d86;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mascota-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.mascota-add-button{
  margin-top: 10px;
}