<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Mascotas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/perfil-menu">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mascotas-scroll-container">
    <div class="mascotas-scroll">

      <ion-card
        class="mascota-card"
        *ngFor="let mascota of mascotas"
        (click)="mostrarOpcionesMascota(mascota)"
      >
        <img
          [src]="mascota.imagen || 'assets/mascotas/default.jpg'"
          alt="Mascota"
        />
        <div class="nombre">{{ mascota.nombre }}</div>
      </ion-card>

      <div class="mascota-add-button" (click)="agregarMascota()">
        <ion-icon name="add" class="add-icon"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
