<ion-header>
  <ion-toolbar>
    <ion-title>{{ usuario ? 'Editar Usuario' : 'Nuevo Usuario' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">

        <ion-item lines="inset">
          <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="usuarioForm.get('nombre')?.touched">
          <ng-container *ngIf="usuarioForm.get('nombre')?.hasError('required')">
            <small class="ion-padding-start">El nombre es obligatorio.</small>
          </ng-container>
          <ng-container *ngIf="usuarioForm.get('nombre')?.hasError('minlength')">
            <small class="ion-padding-start">Debe tener al menos 2 caracteres.</small>
          </ng-container>
          <ng-container *ngIf="usuarioForm.get('nombre')?.hasError('pattern')">
            <small class="ion-padding-start">Solo se permiten letras y espacios.</small>
          </ng-container>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="usuarioForm.get('email')?.touched && usuarioForm.get('email')?.hasError('required')">
          <small class="ion-padding-start">El email es obligatorio.</small>
        </ion-text>
        <ion-text color="danger" *ngIf="usuarioForm.get('email')?.touched && usuarioForm.get('email')?.hasError('email')">
          <small class="ion-padding-s tart">Email inválido.</small>
        </ion-text>

        <ion-item lines="inset">
          <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" formControlName="pass"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="usuarioForm.get('pass')?.touched && usuarioForm.get('pass')?.hasError('required')">
          <small class="ion-padding-start">La contraseña es obligatoria.</small>
          <ion-text color="danger" *ngIf="usuarioForm.get('pass')?.touched && usuarioForm.get('pass')?.hasError('minlength')">
          <small class="ion-padding-start">Debe tener al menos 6 caracteres.</small>
        </ion-text>
        </ion-text>

        <ion-item lines="none">
          <ion-button expand="block" size="small" fill="outline" (click)="generarPasswordAleatoria()">Generar Contraseña Aleatoria</ion-button>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="stacked">Tipo <ion-text color="danger">*</ion-text></ion-label>
          <ion-select formControlName="tipo" interface="popover" placeholder="Seleccionar...">
            <ion-select-option value="dueno">Dueño</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="usuarioForm.get('tipo')?.touched && usuarioForm.get('tipo')?.hasError('required')">
          <small class="ion-padding-start">El tipo es obligatorio.</small>
        </ion-text>

        <ion-button expand="block" shape="round" size="large" class="ion-margin-top" type="submit" color="dark" [disabled]="usuarioForm.invalid" style="font-size: 15px;">
          {{ usuario ? 'Actualizar' : 'Crear' }}
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
