/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* HEADER ESTILIZADO */
ion-header.custom-header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}

ion-toolbar {
  --background: linear-gradient(135deg, #8f49af83,  #441ba3c4); // Degradado morado
  --color: #ffffff;
  min-height: 60px;
}

body.toolbar-morado ion-toolbar {
  --background: linear-gradient(135deg, #8f49af83, #441ba3c4);
  --color: #ffffff;
}

body.toolbar-azul ion-toolbar {
  --background: linear-gradient(135deg, #3f87a6, #153259);
  --color: #ffffff;
}

body.toolbar-verde ion-toolbar {
  --background: linear-gradient(135deg, #43cea2, #185a9d);
  --color: #ffffff;
}

body.toolbar-rojo ion-toolbar {
  --background: linear-gradient(135deg, #ca4749de, #f99c23);
  --color: #ffffff;
}

body.toolbar-naranja ion-toolbar {
  --background: linear-gradient(135deg, hsl(29, 66%, 53%), #f9d423);
  --color: #ffffff;
}

body.toolbar-amarillo ion-toolbar {
  --background: linear-gradient(135deg, #f7e973ee, #f9d423);
  --color: #ffffff;
}

body.toolbar-celeste ion-toolbar {
  --background: linear-gradient(135deg, #97ccf8e1, #4a509c);
  --color: #ffffff;
}

body.toolbar-gris ion-toolbar {
  --background: linear-gradient(135deg, hsl(0, 2%, 56%), #313131dc);
  --color: #ffffff;
}

body.toolbar-negro ion-toolbar {
  --background: linear-gradient(135deg, #111111c9, #35342dda);
  --color: #ffffff;
}

body.toolbar-blanco ion-toolbar {
  --background: linear-gradient(135deg, #f8eaeae7, #aaa9a5dc);
  --color: #ffffff;
}

.header-title {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

ion-toolbar ion-button ion-icon {
  font-size: 24px;
  color: #ffffff;
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  padding: 20px;

  width: 100%;
}

ion-content > * {
  max-width: 400px;
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  ion-content {
    justify-content: center; 
    padding: 40px 20px;
  }

  ion-content > * {
    max-width: 600px; 
  }
}
